form#register.form
  input.form-control(name='email', type='text', placeholder='email', style='width:400px;')
  input.form-control(name='password', type='text', placeholder='password', style='width:400px;')

  button.button.button-action#submitNewUser Submit
